<div id="title">
  <h2>{{ product?.name }}</h2>
  <button md-raised-button (click)="openDialog()">Add new Item</button>
</div>
<div id="body">
  <md-spinner *ngIf="!isDataReady"></md-spinner>
  <md-table #table [dataSource]="itemDataSource" *ngIf="isDataReady">
    <ng-container *ngFor="let column of product?.columns">
      <ng-container cdkColumnDef="{{ column.slug }}">
        <md-header-cell *cdkHeaderCellDef>{{ column.name }}</md-header-cell>
        <md-cell *cdkCellDef="let row">
          {{ row[column.slug] }}
        </md-cell>
      </ng-container>
    </ng-container>

    <ng-container cdkColumnDef="actions">
      <md-header-cell *cdkHeaderCellDef>Actions</md-header-cell>
      <md-cell *cdkCellDef="let row">
        <button md-icon-button type="button">
          <md-icon>edit</md-icon>
        </button>
        <button md-icon-button type="button" (click)="deleteItem(row.id)">
          <md-icon>clear</md-icon>
        </button>
      </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="productColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: productColumns"></md-row>
  </md-table>
</div>
