<h3 md-dialog-title>Add new Item</h3>
<md-dialog-content>
  <ng-container *ngIf="data.columns.length > 0; else no_fields">
    <section *ngFor="let column of data.columns">
      <md-input-container *ngIf="column.type == dType[dType.String]">
        <input mdInput type="text" placeholder="{{ column.name }}" [(ngModel)]="values[column.id].value">
      </md-input-container>
      <md-input-container *ngIf="column.type == dType[dType.Integer]">
        <input mdInput type="number" placeholder="{{ column.name }}" [(ngModel)]="values[column.id].value">
      </md-input-container>
      <md-checkbox *ngIf="column.type == dType[dType.Boolean]" [(ngModel)]="values[column.id].value">{{ column.name }}</md-checkbox>
    </section>
  </ng-container>

  <ng-template #no_fields>
    <h4 class="no-fields">
      No fields available
    </h4>
  </ng-template>
</md-dialog-content>
<md-dialog-actions *ngIf="data.columns.length > 0">
    <button md-raised-button (click)="addItem()">Add</button>
    <button md-button [md-dialog-close] tabindex="-1">Cancel</button>
</md-dialog-actions>
